.co.chat-card.roll-card.heal-card {
  .card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid var(--co-chat-heal);
    color: var(--co-chat-heal);
    border-bottom: 1px dashed var(--co-chat-heal);
    label {
      color: var(--co-chat-heal);
      text-shadow: 0 0px 2px var(--co-chat-shadow);
    }
  }
  .card-content {
    .bloc-result {
      display: grid;
      grid-template-columns: 0.7fr 1fr;
    }
  }
  /*.chatroll {
    .heal {
      font-size: 22px;
      margin: 5px;
      .theme-dark & {
        color: #3fa13f;
      }
      .theme-light & {
        color: #2c532c;
      }
    }
    .heal-formula {
      margin-bottom: -10px;
      border: 2px solid #2c532c;
      border-radius: 15px;
      background-color: #087b1f66;
      font-weight: bold;
      padding: 1px 0 0px 10px;
      font-size: 16px;
    }
    .heal-result {
      font-size: 38px;
      font-weight: bold;
      text-align: center;
      label {
        font-size: 20px;
      }
    }
    .heal-message {
      width: 150px;
      margin-left: 30px;
    }
    p {
      margin: 0;
    }
    h3 {
      text-align: center;
      margin: -10px 0 0 0;
    }
    strong {
      .theme-dark & {
        color: var(--co-text-light);
      }
      .theme-light & {
        color: var(--co-text-dark);
      }
    }
  }*/
}
