@import "./palette.less";

@import "./typo.less";

@import "./elements/_index.less";

.co {
  @import "./prose-mirror.less";

  .enabled {
    color: var(--co-green);
  }

  .inactivated {
    color: #999;
  }
  .green {
    color: var(--co-green);
  }
  .blue {
    color: var(--co-sheet-accent-alt);
  }

  .theme-dark & {
    .blue {
      color: #266995;
    }
    h4,
    label,
    span {
      color: var(--co-surface);
    }
  }
  @import "./forms.less";
  @import "./applications/_index.less";

  select.disabled,
  input[type="checkbox"].disabled,
  label:has(input[type="checkbox"].disabled) {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
  }
}

@import "./ui/_index.less";
@import "./applications/chat/_index.less";
@import "./applications/sidebar.less";

#pause {
  top: calc(80vh - 100px);
}
#pause > img {
  content: url("/systems/co2/ui/pause_co.webp");
  height: 120px;
  width: 120px;
  top: -45px;
  left: calc(50% - 96px);
  opacity: 60%;
}
